In [1]:
import pandas as pd
import glob
import os
import numpy as np
import time
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

In [2]:
df_messages = pd.read_csv(r"C:\Users\nadid\Downloads\raw_session_events_before_events_8_9_19_07.csv")

df_messages.head(10)

C:\Users\nadid\AppData\Local\Temp\ipykernel_17580\3496637741.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_messages = pd.read_csv(r"C:\Users\nadid\Downloads\raw_session_events_before_events_8_9_19_07.csv")

,id_site,id_session,id_visitor,start_date,start_time,end_date,end_time,duration,number_words,number_chars,number_lines,answer_canned,sentiment,accept_date,accept_time,read_date,read_time,event_type,event_type_desc,outcome,outcome_desc,subsession,delay,id_rep_code,sentiment_type,id_agent,id_agent_code,source_file,queue_exit_date,assignment_date,event_id,first_msg_dummy,id_rep
0,1,100000002,200064419,24/05/2017 22:57:02,1495666622,24/05/2017 22:57:02,1495666622,0,2,7,0,3,0,01/01/1970,0,01/01/1970,0,1,visitor_line,1,served,1,0,2,3,30001090,1091,D24052017,NaN,24/05/2017 22:57:04,0,1,30001090.0
1,1,100000002,200064419,24/05/2017 22:57:04,1495666624,24/05/2017 22:57:19,1495666639,15,0,0,0,2,0,01/01/1970,0,01/01/1970,0,9,inner_wait,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,2,0,30001090.0
2,1,100000002,200064419,24/05/2017 22:57:19,1495666639,24/05/2017 22:57:31,1495666651,12,60,322,0,2,0,24/05/2017 22:57:05,1495666625,24/05/2017 22:57:08,1495666628,2,rep_line,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,3,0,30001090.0
3,1,100000002,200064419,24/05/2017 22:57:31,1495666651,24/05/2017 22:57:53,1495666673,22,9,41,1,2,0,01/01/1970,0,01/01/1970,0,8,other_time,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,4,0,30001090.0
4,1,100000002,200064419,24/05/2017 22:57:53,1495666673,24/05/2017 22:58:30,1495666710,37,15,66,0,2,0,24/05/2017 22:57:31,1495666651,24/05/2017 22:57:31,1495666651,1,visitor_line,1,served,1,0,1091,3,30001090,1091,D24052017,NaN,NaN,5,0,30001090.0
5,1,100000002,200064419,24/05/2017 22:58:30,1495666710,24/05/2017 22:58:52,1495666732,22,37,162,2,2,0,01/01/1970,0,01/01/1970,0,9,inner_wait,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,6,0,30001090.0
6,1,100000002,200064419,24/05/2017 22:58:52,1495666732,24/05/2017 22:59:26,1495666766,34,9,47,0,2,0,24/05/2017 22:57:54,1495666674,24/05/2017 22:58:53,1495666733,2,rep_line,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,7,0,30001090.0
7,1,100000002,200064419,24/05/2017 22:59:26,1495666766,24/05/2017 23:00:21,1495666821,55,41,206,2,2,0,01/01/1970,0,01/01/1970,0,8,other_time,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,8,0,30001090.0
8,1,100000002,200064419,24/05/2017 23:00:21,1495666821,24/05/2017 23:00:26,1495666826,5,20,81,0,2,0,24/05/2017 22:59:41,1495666781,24/05/2017 22:59:41,1495666781,1,visitor_line,1,served,1,0,1091,3,30001090,1091,D24052017,NaN,NaN,9,0,30001090.0
9,1,100000002,200064419,24/05/2017 23:00:26,1495666826,24/05/2017 23:01:03,1495666863,37,37,195,1,2,0,01/01/1970,0,01/01/1970,0,9,inner_wait,1,served,1,0,1091,4,30001090,1091,D24052017,NaN,NaN,10,0,30001090.0

Remove all spaces from olumn names:

In [5]:
df_messages.columns = df_messages.columns.str.replace(' ', '', regex=False)

Total unique sessions:

In [24]:
df_messages["id_session"].nunique()

333859

In [22]:
df_messages["outcome_desc"].value_counts()

outcome_desc
served                   5873662
silent abandonment        436717
known abandonment          19430
served and transfered      12305
Unknown                     5207
Name: count, dtype: int64

Delete 80k silent abandment:

In [37]:
df_messages_upd = df_messages[df_messages["outcome"] != 3].reset_index(drop = True)

df_messages_upd["outcome"].value_counts()

outcome
1    5873662
4      19430
2      12305
7       5207
Name: count, dtype: int64

Number of agent messages:

In [ ]:
cond = (df_messages_upd["event_type"] == 1) | (df_messages_upd["event_type"] == 2) 

df_messages_upd = df_messages_upd[cond].reset_index(drop = True)

In [51]:
df_messages_upd["id_session"].nunique()

252099